/****** General ***********/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 25px;
}

nav {
    font-size: 20px;
}


li {
    display: inline-block;
}

li > a {
    text-decoration: none;
    padding: 15px;
}

li > a:hover {
    color: var(--main-color);
    border-top: 1px solid var(--main-color);
}

li > a:visited {
    color: black;
}

/****** Search and filter ***********/

.search-and-filter {
    padding: 10px 25px;
    margin-top: 25px;
}

.search > h1 {
    margin-bottom: 0px;
}

.search > p {
    margin: 10px 0 30px 0;    
}

.search-bar {
    display: flex;
    margin-top: 25px;
}

.fa-map-marker-alt {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    font-size: 20px;
    width: 50px;
    height: 35px;
    text-align: center;
    padding-top: 14px;
}

.search-input {
    border: 1px solid var(--filter-bg-color);
    height: 50px;
    width: 195px;
    text-align: center;
    padding: 0;
}

.search-input::placeholder {
    color: black;
    opacity: 1;
    font-size: 18px;
    font-weight: 700;
}

.search-button {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);;
    border-radius: 0 15px 15px 0;
    color: white;
    height: 52px;
    width: 132px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 700;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 15px 0;
    justify-content:flex-start
}

.filters > p {
    font-size: 18px;
    font-weight: 700;
    padding-top: 7px;
    margin-right: 10px;
    margin: 0 15px 0 0;
    padding-top: 10px;
}

.filter-type {
    border: 2px solid var(--main-bg-color);
    border-radius: 20px;
    display: flex;
    height: 42px;
    align-items: center;
    padding-right: 12px;
    margin-right:  20px;
}

.filter-type > p {
    font-size: 17px;
    font-weight: 700;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-fire {
    color: var(--main-color);
}

.fa-circle {
    color: white;
}

.information {
    display: flex;
}

.i {
    border: 1px solid #D9D9D9;
    color: var(--main-color);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman';
    margin-right: 10px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/* #hebergements {
    padding: 10px 25px;
    background-color: var(--filter-bg-color);
    border-radius: 20px;
    margin: 0 10px;
} */

.hebergements-list {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.full {
    color: var(--main-color);
}

.empty {
    color: var(--main-bg-color);
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*** Activités ***/

.activites {
    padding: 10px 25px;
}

.activites-list {
    display: flex;
}

/*** Footer ***/

footer {
    padding: 10px 0;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}